{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-group py-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ user.fullName }}
                    <small class="text-muted"> @{{ user.username }}</small>
                </h5>
                {% if is_granted('ROLE_USER') and user != app.user %}
                    <div class="text-right">
                        {% if user.followers.contains(app.user) == false %}
                            <a href="{{ path('following_follow', { 'id': user.id }) }}" class="btn btn-outline-primary">{{ 'follow.user'|trans }}</a>
                        {% else %}
                            <a href="{{ path('following_unfollow', { 'id': user.id}) }}" class="btn btn-outline-danger">{{ 'unfollow.user'|trans }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card-group py-2">
        {# FOLLOWERS #}
        <div class="card">
            <div class="card-body">
                <h5>{{ 'followers'|trans({'%count%': user.followers|length}) }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for follower in user.followers %}
                    <li class="list-group-item">
                        <a href="{{ path('micro_post_user', {'username': follower.username}) }}"> @{{ follower.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {# FOLLOWING #}
        <div class="card">
            <div class="card-body">
                <h5>{{ 'following'|trans({'%count%': user.following|length}) }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for following in user.following %}
                    <li class="list-group-item">
                        <a href="{{ path('micro_post_user', {'username': following.username}) }}"> @{{ following.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% for post in posts %}
        <small class="d-block text-right mt-3">
            {% if is_granted('edit', post) %}
                <a href="{{ path('micro_post_edit', {'id': post.id }) }}">{{ 'micro.post.edit'|trans }}</a>
            {% endif %}
            {% if is_granted('remove', post) %}
                <a href="{{ path('micro_post_remove', {'id': post.id }) }}">{{ 'micro.post.delete'|trans }}</a>
            {% endif %}
        </small>

        {{ include('micro-post/raw-post.html.twig', { 'post': post }) }}

    {% endfor %}
{% endblock %}