{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block body %}
    <p><a href="{{ path('blog_add') }}">POST ID - {{ id }}</a></p>
    <p>TITLE - {{ post.title }}</p>
    <p>TEXT - {{ post.text }}</p>
    Current Local {{ locale }}

    <p>Env: {{ app.environment }}</p>
    <p>User: {{ app.user }}</p>
    <p>Request: {{ app.request }}</p>
    <p>Session started: {{ app.session.isStarted() }}</p>
    <p>Debug: {{ app.debug }}</p>
{% endblock %}